#ignore PhpStorm files
.idea/*
#ignore .git
.git/*
#ignore log files
/lib/Log/report/*

#ignore other
/lib/credentials.xml
/vendor/
composer.lock
tests/_notes/dwsync.xml
_compareTemp/TMPgcldcu.php
lib/Exception/_notes/dwsync.xml
lib/_notes/dwsync.xml
_notes/dwsync.xml
SDK_Config.php
lib/DataObjects/_notes/dwsync.xml
_compareTemp/TMP1copodm.php